<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>축구 포지션 배정</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main class="container">
      <h1>쿼터 선택</h1>
      <div class="button-group">
        <a href="/assign/select/4" class="btn">4쿼터</a>
        <a href="/assign/select/5" class="btn">5쿼터</a>
      </div>
      <div class="button-group" style="margin-top: 40px">
        <a href="/players" class="btn secondary">선수 목록 보기</a>
        <a href="/players/existing/new" class="btn secondary">기존 선수 등록</a>
        <a href="/players/temporary/new" class="btn secondary"
          >용병 선수 등록</a
        >
      </div>
    </main>
  </body>
</html>
